@page "/address"
@inject NavigationManager NavigationManager

<div class="fixed-button">
    <button @onclick="GoToLoginPage">
        <svg class="arrow-left-3" viewBox="0 0 5 9">
            <path d="M0.419,9.000 L0.003,8.606 L4.164,4.500 L0.003,0.394 L0.419,0.000 L4.997,4.500 L0.419,9.000 Z" />
        </svg>
        <h>Главный экран</h>
    </button>
</div>
<table >
    <col width="570" />
    <col width="430" />
    @foreach (var cashMachine in db.CashMachines)
    {

    <tr>
        <td>
            <h>@cashMachine.Addres</h>
            <br />
            <h>@cashMachine.Otdel &ensp;@cashMachine.Open</h>

        </td>
        <td align="right" valign="bottom"><p>Часы работы:@cashMachine.OpenTime.ToString("hh\\:mm")-@cashMachine.CloseTime.ToString("hh\\:mm")</p></td>

    </tr>
    }
</table>
@code {
    public void GoToLoginPage()
    {
        NavigationManager.NavigateTo("/Loginpage");
    }
}
