@page "/address"
<table>
    <col width="570" />
    <col width="430" />
    <tr>
        <td>
            с. Чапаево, ул. Николаева 1
            <br />
            Отделение

        </td>
        <td align="right" valign="bottom">Часы работы:09:00-20:00</td>
    </tr>
    <tr>
        <td>
            Якутск, ул. Вавилова, д.7
            <br />
            Отделение

        </td>
        <td align="right" valign="bottom">Часы работы:09:00-20:00</td>
    </tr>

    <tr>
        <td>
            Новосибирск, ул. Вавилова, д.7
            <br />
            Банкомат

        </td>
        <td align="right" valign="bottom">Часы работы:00:00-00:00</td>
    </tr>
    <tr>
        <td>
            Иркутск, ул. Вавилова, д.7
            <br />
            Банкомат

        </td>
        <td align="right" valign="bottom">Часы работы:00:00-00:00</td>
    </tr>
    <tr>
        <td>
            Владивосток, ул. Вавилова, д.7
            <br />
            Отделение
        </td>
        <td align="right" valign="bottom">Часы работы:09:00-20:00</td>
    </tr>
    <tr>
        <td>
            Москва, ул. Вавилова, д.7
            <br />
            Отделение

        </td>
        <td align="right" valign="bottom">Часы работы:09:00-20:00</td>
    </tr>
    <tr>
        <td>
            Москва, ул. Вавилова, д.7
            <br />
            Банкомат
        </td>
        <td align="right" valign="bottom">Часы работы:00:00-00:00</td>
    </tr>
    <tr>
        <td>
            Москва, ул. Вавилова, д.7
            <br />
            Банкомат

        </td>
        <td align="right" valign="bottom">Часы работы:00:00-00:00</td>
    </tr>
    <tr>
        <td>
            Москва, ул. Вавилова, д.7
            <br />
            Отделение

        </td>
        <td align="right" valign="bottom">Часы работы:09:00-20:00</td>
    </tr>
    <tr>
        <td>
            Москва, ул. Вавилова, д.7
            <br />
            Банкомат

        </td>
        <td align="right" valign="bottom">Часы работы:00:00-00:00</td>
    </tr>
    <tr>
        <td>

            Москва, ул. Вавилова, д.7
            <br />
            Банкомат

        </td>
        <td align="right" valign="bottom">Часы работы:00:00-00:00</td>
    </tr>
    <tr>
        <td>
            Москва, ул. Вавилова, д.7
            <br />
            Банкомат

        </td>
        <td align="right" valign="bottom">Часы работы:00:00-00:00</td>
    </tr>
    <tr>
        <td>
            Москва, ул. Вавилова, д.7
            <br />
            Отделение

        </td>
        <td align="right" valign="bottom">Часы работы:09:00-20:00</td>
    </tr>
    <tr>
        <td>
            Москва, ул. Вавилова, д.7
            <br />
            Банкомат

        </td>
        <td align="right" valign="bottom">Часы работы:00:00-00:00</td>
    </tr>
</table>
