@page "/address"
@inject NavigationManager NavigationManager

<div class="fixed-button">
    <button @onclick="GoToLoginPage">
        <svg class="arrow-left-3" viewBox="0 0 5 9">
            <path d="M0.419,9.000 L0.003,8.606 L4.164,4.500 L0.003,0.394 L0.419,0.000 L4.997,4.500 L0.419,9.000 Z" />
        </svg>
        Главный экран
    </button>
</div>
<table>
    <col width="570" />
    <col width="430" />
    <tr>
        <td>
            с. Чапаево, ул. Николаева 1
            <br />
            Отделение

        </td>
        <td align="right" valign="bottom">Часы работы:09:00-20:00</td>
    </tr>
    <tr>
        <td>
            Якутск, ул. Вавилова, д.7
            <br />
            Отделение

        </td>
        <td align="right" valign="bottom">Часы работы:09:00-20:00</td>
    </tr>

    <tr>
        <td>
            Новосибирск, ул. Вавилова, д.7
            <br />
            Банкомат

        </td>
        <td align="right" valign="bottom">Часы работы:00:00-00:00</td>
    </tr>
    <tr>
        <td>
            Иркутск, ул. Вавилова, д.7
            <br />
            Банкомат

        </td>
        <td align="right" valign="bottom">Часы работы:00:00-00:00</td>
    </tr>
    <tr>
        <td>
            Владивосток, ул. Вавилова, д.7
            <br />
            Отделение
        </td>
        <td align="right" valign="bottom">Часы работы:09:00-20:00</td>
    </tr>
    <tr>
        <td>
            Москва, ул. Вавилова, д.7
            <br />
            Отделение

        </td>
        <td align="right" valign="bottom">Часы работы:09:00-20:00</td>
    </tr>
    <tr>
        <td>
            Москва, ул. Вавилова, д.7
            <br />
            Банкомат
        </td>
        <td align="right" valign="bottom">Часы работы:00:00-00:00</td>
    </tr>
    <tr>
        <td>
            Москва, ул. Вавилова, д.7
            <br />
            Банкомат

        </td>
        <td align="right" valign="bottom">Часы работы:00:00-00:00</td>
    </tr>
    <tr>
        <td>
            Москва, ул. Вавилова, д.7
            <br />
            Отделение

        </td>
        <td align="right" valign="bottom">Часы работы:09:00-20:00</td>
    </tr>
    <tr>
        <td>
            Москва, ул. Вавилова, д.7
            <br />
            Банкомат

        </td>
        <td align="right" valign="bottom">Часы работы:00:00-00:00</td>
    </tr>
    <tr>
        <td>

            Москва, ул. Вавилова, д.7
            <br />
            Банкомат

        </td>
        <td align="right" valign="bottom">Часы работы:00:00-00:00</td>
    </tr>
    <tr>
        <td>
            Москва, ул. Вавилова, д.7
            <br />
            Банкомат

        </td>
        <td align="right" valign="bottom">Часы работы:00:00-00:00</td>
    </tr>
    <tr>
        <td>
            Москва, ул. Вавилова, д.7
            <br />
            Отделение

        </td>
        <td align="right" valign="bottom">Часы работы:09:00-20:00</td>
    </tr>
    <tr>
        <td>
            Москва, ул. Вавилова, д.7
            <br />
            Банкомат

        </td>
        <td align="right" valign="bottom">Часы работы:00:00-00:00</td>
    </tr>
</table>

@code {
    public void GoToLoginPage()
    {
        NavigationManager.NavigateTo("/Loginpage");
    }
}
