@page "/history/card"
@using BankApp.Data
@inject Database db

<div>
    @foreach(var item in @db.Credits)
    {
        <div>
            <b>@item.CreditType</b> Дата: @item.PayData <b>@item.MoneyCount рублей</b>
        </div>
    }
</div>
