body {
}

.inp2 {
    background-color: none;
    border-color: none;
    color: black;
    font-size: 25px;
    width: 90vw;
    height: 13vh;
}
.t1 {
    color: purple;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10%;
}

.t2 {
    color: darkblue;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: underline;
}