@page "/Information"

<div class="t1"> Мобильное приложение WorldSkills Online</div>
<div class="t1">Версия 1.0.0</div>
<div class="t2">Пользовательское соглашение</div>
<div class="t1">Разработано командой "Ради чая"</div>

@code {

}
