@page
@model BankWebsite.Pages.AddressModel
@using BankWedsite.Data;
@{
}

<table >
    <col width="570" />
    <col width="430" />
    @foreach (var cashMachine in Database.Instans.CashMachines)
    {

    <tr>
        <td>
            <h>@cashMachine.Addres</h>
            <br />
            <h>@cashMachine.Otdel &ensp;
                @if (cashMachine.OpenTime != cashMachine.CloseTime && DateTime.Now.TimeOfDay >= cashMachine.OpenTime && DateTime.Now.TimeOfDay <= cashMachine.CloseTime)
                {
                    <h style="color: green;">Работает</h>
                }
                else if (cashMachine.OpenTime != cashMachine.CloseTime)
                {
                    <h style="color: red;">Закрыто</h>
                }
                else
                {
                    <h style="color: green;">Работает</h>
                }
            </h>

        </td>
        <td align="right" valign="bottom"><p>Часы работы:@cashMachine.OpenTime.ToString("hh\\:mm")-@cashMachine.CloseTime.ToString("hh\\:mm")</p></td>

    </tr>
    }
</table>