@page
@model BankWebsite.Pages.InformationModel
@{
	 Layout = "~/Pages/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="css/SettingsStyle.css">

<div>
	<div class="t1"> Веб-приложение WorldSkills банк</div>
	<div class="t1">Версия 1.0.0</div>
	<div class="t1">Разработано командой "Ради кофе"</div>
</div>