@page
@model BankWebsite.Pages.LoginpageModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<link rel="stylesheet" href="css/LoginPStyle.css" asp-append-version="true"> 
@{
}


<div class="Content">
	<div class="Main">
		<a asp-page="Address"><div class="Button">Отделения и банкоматы</div></a>
		<a asp-page="Course"><div class="Button">Курсы валют</div></a>
		<a asp-page="EnterPage"><div class="EnterButton">Войти</div></a>
	</div>
</div>