@page
@model BankWebsite.Pages.SettingsModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
	 Layout = "~/Pages/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="css/SettingsStyle.css">

<div>
	<div class="inp1" >Изменение пароля</div>
	<div class="inp1">Изменение логина</div>
	<div class="inp1">История посещений</div>
	<div class="inp1"> <a asp-page="Information">Информация о приложении</a></div>
</div>



