.upLine {
    background-color: #d8d6d6;
    margin-bottom: 30px;
    height:fit-content;
}

.Name {
    font-size: 48px;
}

li {
    color: rgb(0, 0, 0);
    display: flex;
    flex-direction: row;
    margin: auto;
}

ul {
    display: flex;
}